.nav-bar{
  background-color: rgb(224, 226, 226) !important;
  color: gray;
  height: 50px;
}

.gtBtn {
  background-color: #f37c46;
  color: black;
  transition: transform 2s ease, background-color 2s ease;
}

.gtBtn:hover {
  background-color: #f37c46;
  transform: scale(1.1); /* Use transform to scale */
}

.spnNavigators {
  transition: transform 2s ease, background-color 1s ease;
  cursor: pointer;
  color: black;
}

.spnNavigators:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.text-orange-700{
  color: #f37c46;
  border-bottom:2px solid #f37c46;
}

.navLink {
  text-decoration: none;
}

.hover-effect:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.img-fixed-height {
  height: 250px; /* Set this to whatever height you prefer */
  object-fit: cover;
}
